<h1>Ajouter une bière</h1>
<form id="addBeer" role="form">

  <div class="form-group">
    <label for="name">Nom de la bière</label>
    <input class="form-control" ng-model="formBeer.name" required="required" ng-required="required" id="name" name="name" />
  </div>

  <div class="form-group">
    <label for="color">Couleur</label>
    <select class="form-control" ng-model="formBeer.color" id="color" name="color">
      <option ng-repeat="couleur in beerColors" value="{{$index}}">{{couleur.name}}</option>
    </select>
  </div>
  <p><a type="submit" class="btn btn-lg btn-success" ng-click="addBeer()"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sant&eacute; !</a></p>
</form>
