<div class="jumbotron">
  <h1>Bonjour ! Bonjour !</h1>
  <p>Beerme est une webapp qui vous permet de noter les bières que vous dégustez.</p>
  <p>Afin de pouvoir décapsuler toutes la puissance de cette application, vous devez &ecirc;tre connecté.</p>
  <p><a class="btn btn-lg btn-success" ng-href="#/login"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Je voudrais me connecter !</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/register"><span class="glyphicon glyphicon-ok"></span>&nbsp;Oups, je n'ai pas de compte</a></p>
</div>
